.Landing {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quiz-img {
  width: 40%;
}

@media (min-width: 0px) and (max-width: 576px) {
  #landing-desktop {
    display: none;
  }
  .quiz-img {
    width: 50%;
  }
}

@media (min-width: 577px) {
  #landing-mobile {
    display: none;
  }
}
