/* Button Size Color Css */
.Button {
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.button-lg,
.button-sm {
  height: 6vh;
}

.button-lg {
  width: 12vw;
  font-size: 1.2rem;
}

.button-sm {
  width: 8vw;
  font-size: 1rem;
}

@media (min-width: 0px) and (max-width: 576px) {
  .button-lg {
    width: 50vw;
  }

  .button-sm {
    width: 20vw;
  }
}

@media (min-width: 0px) and (max-width: 850px) and (max-height: 500px) {
  .button-lg,
  .button-sm {
    font-size: 0.9rem;
  }
  .button-lg {
    width: 15vw;
  }

  .button-sm {
    width: 10vw;
  }
}
