.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: 5px;
  width: 5vw;
}

@media (min-width: 0px) and (max-width: 576px) {
  .logo {
    width: 10vw;
  }
}
