.App {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Nunito', sans-serif !important;
  transition: 1s;
}

/* generals */
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}
