.face {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy {
  position: absolute;
  top: 125px;
  width: 80px;
  height: 40px;
  background: #b57700;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.sad {
  position: absolute;
  top: 150px;
  width: 80px;
  height: 10px;
  background: #b57700;
}

.eyes {
  position: relative;
  top: -30px;
  display: flex;
}

.eyes .eye {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 50%;
}

.eyes .eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
}

@media (min-width: 0px) and (max-width: 850px) and (max-height: 500px) {
  .face {
    width: 100px;
    height: 100px;
  }

  .happy {
    top: 70px;
    width: 50px;
    height: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .sad {
    top: 70px;
    width: 50px;
    height: 5px;
  }

  .eyes {
    position: relative;
    top: -10px;
    display: flex;
  }

  .eyes .eye {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }

  .eyes .eye::before {
    top: 40%;
    left: 10px;
    width: 15px;
    height: 15px;
  }
}
